<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width,viewport-fit=cover">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="true">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <!-- <script src="<%= htmlWebpackPlugin.options.__PUBLIC__ %>md5.js"></script> -->
</head>

<body>

    <div id="root"></div>

</body>

</html>